doctype html
head
  title Aston Events
  link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css', integrity='sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4', crossorigin='anonymous')
  link(rel='stylesheet', href='./public/bower_components/css/style.css')
body
  nav.navbar.navbar-expand-md.navbar-light.bg-light
    .container-fluid
      a.navbar-brand(href='/') Aston Events
        img.d-inline-block.align-top(src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSfEaCLRJSBeIPZpWmsMF9uRXYkHmTZ-kDgOwp3kRtWms83VDax5g', width='40', height='30', alt='')
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarsExampleDefault', aria-controls='navbarsExampleDefault', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
            
      #navbarsExampleDefaul.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
          li.nav-item.active
            a.nav-link(href='/')
              | Home 
              span.sr-only (current)
          li.nav-item.dropdown
            a#dropdown01.nav-link.dropdown-toggle(href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Browse Events
            .dropdown-menu(aria-labelledby='dropdown01')
              a.dropdown-item(href='/category/1') Sport
              a.dropdown-item(href='/category/2') Culture
              a.dropdown-item(href='/category/3') Other
              .dropdown-divider
              a.dropdown-item(href='/category/upc')  View upcoming events 
              a.dropdown-item(href='/category/pop')  View most popular events
            if user  
              li.nav-item
                a.nav-link(href='/create') Create Event

        ul.nav.navbar-nav.navbar-right
          if user
            li 
              a(href='/logout') Logout
          else
            .btn-group
              button.btn.btn-secondary.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                | Login
              .dropdown-menu.dropdown-menu-right
                .container-fluid
                form(action='/login', method='POST')
                  .form-group
                    input.form-control(type='text', name='username', placeholder='Username')
                    br
                    input.form-control(type='password',name='password' placeholder='Password')
                    br
                  .form-group
                    button.btn.btn-default(type='submit') Login
                    a.btn.btn-primary(href='/register') Register
        


  .container
    != messages('message', locals)
    if errors  
      each error, i in errors
        div(class="alert alert-danger") #{error.msg}
    block content
    br
    hr
    footer
      p Copyright &copy; 2018
script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js', integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo', crossorigin='anonymous')
script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js', integrity='sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ', crossorigin='anonymous')
script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js', integrity='sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm', crossorigin='anonymous')
